/*Remove underline from links*/
a:link 
{
  text-decoration: none;
  color: #000;
}

/*Add underline upon hover*/
a:hover 
{
  text-decoration: underline;
}

/*Removes color for visited pages*/
a:visited 
{
  text-decoration: none;
  color: #000;
} 

.nav
{
  font-family: arial, sans-serif;
  opacity: .6;
}  

div.nav1 ul li
{
  float: left;
  font-size: 15px;
  border: none;
  padding: 8px 20px 0px 0px;
  margin: 0px;
  opacity: .6;
  list-style-type: none;
}
#gapps
{
  height: 20px;
  width: 20px;
}

div.nav2 ul li{
  float: right;
  font-size: 15px;
  border: none;
  padding: 8px 10px;
  margin: 0px;
  opacity: .6;
  list-style-type: none;
}

div.logo img { 
  display: block;
  margin-top:178px;
  margin-left: auto;
  margin-right: auto;
  width:17%; 
  height:17%; 
 }
div.center
{   
  padding-top:175px;
  text-align: center;
  width: 100%;
  border: none;
  padding; 170px;  
  padding-bottom: 5px;
}

#search
{
  height: 30px;
  border: 1px solid #dfe1e5;
  width: 450px;
  outline: none;
  background-color: transparent;
  line-height: 35px;
  border-radius: 75px;
  font-size: 17px;
  opacity: .6;
}

.search-buttons
{
  padding: 10px;
  text-align: center;
  vertical-align: baseline;
  opacity: .6;
  border: none;
}

.search-btns
{
  font-size: 15px;
  margin-left: 5px;
  margin-right: 5px;  
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.bot-nav
{
  background-color: #f2f2f2;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: arial, sans-serif;
  font-size: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;       
  font-family: arial, sans-serif;
  opacity: .6;
}

span.bot-nav-left a
{
  
  float: left; 
  border: none;
  padding: 8px 10px;
  margin: 0px;  
}

span.bot-nav-right a
{
  float: right;
  border: none;
  padding: 8px 10px;
  margin: 0px;
}